.movie__col {
  background-color: #97c2b0;
  border-radius: 6px;
  box-shadow: 3px 9px 8px 1px #34423c;
  width: 25%;
  margin: 15px;
  height: 580px;
}

.movie__col img {
  position: relative;
  top: 30px;
  left: 30px;
  box-shadow: 5px 9px 15px 0px #202338;
  z-index: 1;
}

.movie__check {
  padding: 30px;
  text-align: center;
  background-color: #e0fff2;
  font-size: 30px;
  font-weight: 600;
  width: 230px;
  margin: 5px;
  height: 155px;
}

.movie__noncheck {
  margin: 5px;
  background-color: white;
  padding: 30px;
  width: 230px;
  height: 155px;
  overflow: hidden;
}

.movie__genres {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.movie__genres li {
  margin-right: 15px;
}

.movie__sum {
  padding: 30px;
}

.movie__info {
  position: relative;
  width: 300px;
}

.movie__check,
.movie__noncheck {
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 2s, box-shadow 1s;
}

.movie__check:hover,
.movie__noncheck:hover {
  box-shadow: 5px 9px 15px 0px #202338;
}

.movie__title {
  font-size: 20px;
}

@media screen and (max-width: 1500px) {
}
