.moive__box {
  position: relative;
  width: 1320px;
  margin: 0 auto;
}

.moive__show {
  overflow: hidden;
}

.moive__lists {
  display: flex;
  transition: all 500ms ease 0s;
}

button {
  all: unset;
}

.arrow__right,
.arrow__left {
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.arrow__right:hover,
.arrow__left:hover {
  color: #384142;
  transition: color 1s;
}

.arrow__right {
  right: 0px;
}

.hidden {
  display: none;
}
